# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Target files
rwm.test
rwm

# Files kde creates
.directory

# others libraries
*.ppm
*.xcf
*.bak
*.kate-swp
